<header class="header">
    <div>
        <a href="/" class="logo">
            <h2>LuneX</h2>
        </a>
    </div>
    <div class="hamburger-menu" id="hamburger-button">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
    </div>
    <nav class="nav-menu" id="nav-menu">
        <a href="/" class="<%= page === "Home" ? "active" : ""%>">HOME</a>
        <a href="/services" class="<%= page === "Services" ? "active" : ""%>">SERVICES</a>
        <a href="/about" class="<%= page === "About" ? "active" : ""%>">ABOUT</a>
        <a href="/contact" class="<%= page === "Contact" ? "active" : ""%>">CONTACT</a>
    </nav>
</header>