<%-include ("../partials/head", {pageTitle: "Page Not Found"})%>

<section class="not_found_section">
    <div class="not_found_container">
        <h1 class="page_title">Page Not Found!</h1>
        <a class="return-link" href="/">Go Back To Home</a>
    </div>
</section>
